body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;


}

nav {
    width: 250px;
    flex-grow: 0;
    flex-shrink: 0;
}


div {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

main {
    display: flex;
    flex-direction: row;
    flex-basis: 95%;

}

article {
    flex-grow: 1;
    flex-shrink: 1;
}

aside {
    flex-grow: 0;
    flex-shrink: 0;
    width: 300px;
}

header, footer {
    min-height: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}
